@using AppNetCore01.Web.ViewModels;
@model Producto
@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-controller="Producto" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Nuevo producto</h2>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="descripcion" class="form-label"></label>
            <input asp-for="descripcion" class="form-control" />
            <span asp-validation-for="descripcion" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="codigo" class="form-label"></label>
            <input asp-for="codigo" class="form-control" />
            <span asp-validation-for="codigo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="idMarca"></label>
            <select asp-for="idMarca" asp-items="@Model.Marcas" class="form-select">
                <option disabled selected>Seleccionar Marca </option>
            </select>
            <span asp-validation-for="idMarca" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary" style="width:200px">
            <i class="bi bi-floppy"></i> &nbsp;
            Guardar
        </button>
        <a asp-controller="Producto" asp-action="Index" style="width:200px" class="btn btn-success">
            <i class="bi bi-backspace"></i>  &nbsp;
            Volver
        </a>

    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}